{% extends 'base.html.twig' %}

{% block body %}
    {#<!-- Signup Section -->#}
    <div id="form-registration">
        {{ render(controller('App\\Controller\\RegistrationController::registerFirstStep')) }}
    </div>
{% endblock body %}
