<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}tAPP Gastro{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% block stylesheets %}{% include 'util/styles.twig' %}{% endblock %}
    {% block vendor %}{% include 'util/javascript.twig' %}{% endblock %}
</head>

<body id="page-top">
{% block nav %}
    {#    {% include 'util/navbar.html.twig' %}#}
{% endblock nav %}
<div id="loader"></div>
{% block body %}
{% endblock body %}

{#{{ encore_entry_script_tags('grayscale') }}#}
</body>

</html>
