<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>space</key>
    <string>space.glif</string>
    <key>095-icecream-cup</key>
    <string>095-icecream-cup.glif</string>
    <key>015-breakfast-group</key>
    <string>015-breakfast-group.glif</string>
    <key>104-wine-group</key>
    <string>104-wine-group.glif</string>
    <key>021-ellipsis-menu</key>
    <string>021-ellipsis-menu.glif</string>
    <key>054-dinner-group</key>
    <string>054-dinner-group.glif</string>
    <key>014-search-icon</key>
    <string>014-search-icon.glif</string>
    <key>046-restaurant</key>
    <string>046-restaurant.glif</string>
    <key>010-cash-register</key>
    <string>010-cash-register.glif</string>
    <key>036-move-user</key>
    <string>036-move-user.glif</string>
    <key>075-info</key>
    <string>075-info.glif</string>
    <key>096-delete-pos</key>
    <string>096-delete-pos.glif</string>
    <key>100-side-menu-3</key>
    <string>100-side-menu-3.glif</string>
    <key>115-ask</key>
    <string>115-ask.glif</string>
    <key>099-user-icon</key>
    <string>099-user-icon.glif</string>
    <key>079-menu-mainmenu</key>
    <string>079-menu-mainmenu.glif</string>
    <key>063-sale-mainmenu</key>
    <string>063-sale-mainmenu.glif</string>
    <key>070-remove</key>
    <string>070-remove.glif</string>
    <key>031-open-the-drawer</key>
    <string>031-open-the-drawer.glif</string>
    <key>112-spagetti-group</key>
    <string>112-spagetti-group.glif</string>
    <key>008-arrow-up-down</key>
    <string>008-arrow-up-down.glif</string>
    <key>009-copy</key>
    <string>009-copy.glif</string>
    <key>062-password</key>
    <string>062-password.glif</string>
    <key>121-arrow-right</key>
    <string>121-arrow-right.glif</string>
    <key>050-composite-product-product</key>
    <string>050-composite-product-product.glif</string>
    <key>085-xls</key>
    <string>085-xls.glif</string>
    <key>013-authorization-pin</key>
    <string>013-authorization-pin.glif</string>
    <key>119-plus-1</key>
    <string>119-plus-1.glif</string>
    <key>023-arrow-2-down</key>
    <string>023-arrow-2-down.glif</string>
    <key>061-dashboard-mainmenu</key>
    <string>061-dashboard-mainmenu.glif</string>
    <key>117-pos-connect</key>
    <string>117-pos-connect.glif</string>
    <key>057-report-mainmenu</key>
    <string>057-report-mainmenu.glif</string>
    <key>105-tea-group</key>
    <string>105-tea-group.glif</string>
    <key>001-back</key>
    <string>001-back.glif</string>
    <key>103-fish-group</key>
    <string>103-fish-group.glif</string>
    <key>076-mail-user</key>
    <string>076-mail-user.glif</string>
    <key>033-food-track-business</key>
    <string>033-food-track-business.glif</string>
    <key>102-delete-icon</key>
    <string>102-delete-icon.glif</string>
    <key>060-list</key>
    <string>060-list.glif</string>
    <key>011-bread-group</key>
    <string>011-bread-group.glif</string>
    <key>002-acces</key>
    <string>002-acces.glif</string>
    <key>044-beer-group</key>
    <string>044-beer-group.glif</string>
    <key>089-coffe-group</key>
    <string>089-coffe-group.glif</string>
    <key>114-salad-2-group</key>
    <string>114-salad-2-group.glif</string>
    <key>027-change-price-level</key>
    <string>027-change-price-level.glif</string>
    <key>081-tablet-vertical</key>
    <string>081-tablet-vertical.glif</string>
    <key>083-settings-mainmenu</key>
    <string>083-settings-mainmenu.glif</string>
    <key>113-salad-1-group</key>
    <string>113-salad-1-group.glif</string>
    <key>045-drink-group</key>
    <string>045-drink-group.glif</string>
    <key>037-cancel</key>
    <string>037-cancel.glif</string>
    <key>120-arrow-left</key>
    <string>120-arrow-left.glif</string>
    <key>118-licence</key>
    <string>118-licence.glif</string>
    <key>040-calendar</key>
    <string>040-calendar.glif</string>
    <key>022-image</key>
    <string>022-image.glif</string>
    <key>101-arrow-2-up</key>
    <string>101-arrow-2-up.glif</string>
    <key>108-arrow-down</key>
    <string>108-arrow-down.glif</string>
    <key>024-edit-icon</key>
    <string>024-edit-icon.glif</string>
    <key>069-product-by-weight</key>
    <string>069-product-by-weight.glif</string>
    <key>111-reload</key>
    <string>111-reload.glif</string>
    <key>005-cake-2-group</key>
    <string>005-cake-2-group.glif</string>
    <key>025-cake-1-group</key>
    <string>025-cake-1-group.glif</string>
    <key>034-define-own-menu</key>
    <string>034-define-own-menu.glif</string>
    <key>019-cash-mainmenu</key>
    <string>019-cash-mainmenu.glif</string>
    <key>020-edit</key>
    <string>020-edit.glif</string>
    <key>059-close-shift</key>
    <string>059-close-shift.glif</string>
    <key>029-contractors-mainmenu</key>
    <string>029-contractors-mainmenu.glif</string>
    <key>030-change-pin</key>
    <string>030-change-pin.glif</string>
    <key>064-users</key>
    <string>064-users.glif</string>
    <key>097-user-login</key>
    <string>097-user-login.glif</string>
    <key>032-cafe-business</key>
    <string>032-cafe-business.glif</string>
    <key>048-multiple-choice</key>
    <string>048-multiple-choice.glif</string>
    <key>090-save-pos</key>
    <string>090-save-pos.glif</string>
    <key>006-arrow-2-right</key>
    <string>006-arrow-2-right.glif</string>
    <key>038-cookies-group</key>
    <string>038-cookies-group.glif</string>
    <key>055-logout</key>
    <string>055-logout.glif</string>
    <key>049-coctail-group</key>
    <string>049-coctail-group.glif</string>
    <key>091-copy-icon</key>
    <string>091-copy-icon.glif</string>
    <key>003-arrow-2-left</key>
    <string>003-arrow-2-left.glif</string>
    <key>106-steak-group</key>
    <string>106-steak-group.glif</string>
    <key>026-printer</key>
    <string>026-printer.glif</string>
    <key>035-authorization-pin-icon</key>
    <string>035-authorization-pin-icon.glif</string>
    <key>043-confirm</key>
    <string>043-confirm.glif</string>
    <key>058-simple-product-product</key>
    <string>058-simple-product-product.glif</string>
    <key>074-delete</key>
    <string>074-delete.glif</string>
    <key>017-discount-pos</key>
    <string>017-discount-pos.glif</string>
    <key>066-pay-pos</key>
    <string>066-pay-pos.glif</string>
    <key>088-pizza-product</key>
    <string>088-pizza-product.glif</string>
    <key>080-tablet</key>
    <string>080-tablet.glif</string>
    <key>077-work</key>
    <string>077-work.glif</string>
    <key>018-cash</key>
    <string>018-cash.glif</string>
    <key>087-pizzeria-business</key>
    <string>087-pizzeria-business.glif</string>
    <key>004-arrow-up</key>
    <string>004-arrow-up.glif</string>
    <key>116-tutorial</key>
    <string>116-tutorial.glif</string>
    <key>073-side-menu-2</key>
    <string>073-side-menu-2.glif</string>
    <key>107-settings-user</key>
    <string>107-settings-user.glif</string>
    <key>109-other-form-of-payment</key>
    <string>109-other-form-of-payment.glif</string>
    <key>039-card</key>
    <string>039-card.glif</string>
    <key>084-other-business</key>
    <string>084-other-business.glif</string>
    <key>012-acces-icon</key>
    <string>012-acces-icon.glif</string>
    <key>092-info-user</key>
    <string>092-info-user.glif</string>
    <key>047-download-pdf</key>
    <string>047-download-pdf.glif</string>
    <key>082-soup-group</key>
    <string>082-soup-group.glif</string>
    <key>051-side-menu-1</key>
    <string>051-side-menu-1.glif</string>
    <key>071-070-053-icecream-group</key>
    <string>071-070-053-icecream-group.glif</string>
    <key>086-juice-group</key>
    <string>086-juice-group.glif</string>
    <key>028-invoice-for-receipt</key>
    <string>028-invoice-for-receipt.glif</string>
    <key>072-dish-group</key>
    <string>072-dish-group.glif</string>
    <key>110-fruits-3-group</key>
    <string>110-fruits-3-group.glif</string>
    <key>094-restaurant-business</key>
    <string>094-restaurant-business.glif</string>
    <key>016-coins</key>
    <string>016-coins.glif</string>
    <key>042-fruits-2-group</key>
    <string>042-fruits-2-group.glif</string>
    <key>093-set-product</key>
    <string>093-set-product.glif</string>
    <key>068-error2</key>
    <string>068-error2.glif</string>
    <key>065-tiles</key>
    <string>065-tiles.glif</string>
    <key>067-save</key>
    <string>067-save.glif</string>
    <key>056-products-mainmenu</key>
    <string>056-products-mainmenu.glif</string>
    <key>098-side-menu-4</key>
    <string>098-side-menu-4.glif</string>
    <key>041-burger-group</key>
    <string>041-burger-group.glif</string>
    <key>053-error</key>
    <string>053-error.glif</string>
    <key>007-candy-group</key>
    <string>007-candy-group.glif</string>
    <key>eye</key>
    <string>eye.glif</string>
    <key>eye-slash</key>
    <string>eye-slash.glif</string>
    <key>drink-still</key>
    <string>drink-still.glif</string>
    <key>eye-2</key>
    <string>eye-2.glif</string>
  </dict>
</plist>
